* {
    font-family: sans-serif;
}

body {
    align-items: center;
    gap: 15px;
}

input[type=text]::-webkit-inner-spin-button,
input[type=text]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

body,
#container,
form {
    display: flex;
    flex-direction: column;
}

#container {
    width: 300px;
    height: 380px;
    border: 2px solid black;
    border-radius: 15px;
}

form,
h2 {
    margin-left: 30px;
    gap: 15px;
    align-self: flex-start;
}

h3 {
    align-self: center;
}

.tabela {
    margin: auto;
    text-align: center;
    font-size: 1em;
}

th {
    background-color: beige;
}

td,
th {
    width: 14vw;
    border: 1px solid black;
}

#silver {
    background-color: silver;
}

#red {
    background-color: rgb(255, 0, 0);
}

#black {
    background-color: black;
}

#white {
    background-color: white;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

button:hover,
input[type=button]:hover,
tr:hover {
    cursor: pointer;
    background-color: rgb(216, 216, 216);
    border: 2px solid black;
}

th:hover {
    cursor: text;
}