*{
    font-family: sans-serif;
}
#container {
    width: 300px;
    height: 380px;
    display: block;
    margin: auto;
    border: 2px solid black;
    border-radius: 15px;
}
.model{
    width: 12vw;
}
.aÃ§Ãµes{
    margin-bottom: 10px;
}
input[type=button], span, h2 {
    margin-left: 30px;
}
.tabela {
    margin: auto;
}

th {
    background-color: beige;
    width: 9vw;
    border: 1px solid black;    
}
.color{
    width: 3vw;
}
td {
    width: 9vw;
    border: 1px solid black;
    text-align: center;
    font-size: 1em;
}
.editar{
    width: 9vw;
}
#silver{
    background-color: silver;
}
#red{
    background-color: red;
}
#black{
    background-color: black;
}
#white{
    background-color: white;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
}
.button.green{
    background-color: lightgreen;
    border-color: green;
}
.button.red{
    background-color: lightcoral;
    border-color: red;
}

.button.red:hover{cursor: pointer;background-color: crimson;}
input[type='button']{
    margin-bottom: 5px;
    cursor: pointer;
}
#horaAtual, #horaAtual2{
    cursor: pointer;
}
